<div class="sidebar-container">
  <div class="sidebar-header">
    <h3>Smooth <b>Journey</b></h3>
    <small>Admin Panel</small>
  </div>

  <ul class="sidebar-menu">
    <li>
      <a href="/admin/dashboard" routerLinkActive="active">
        <i class="fa-solid fa-gauge-high"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="menu-header">ΔΙΑΧΕΙΡΙΣΗ</li>

    <li>
      <a href="/admin/users" routerLinkActive="active">
        <i class="fa-solid fa-users"></i>
        <span>Χρήστες</span>
      </a>
    </li>

    <li>
      <a href="/admin/businesses" routerLinkActive="active">
        <i class="fa-solid fa-hotel"></i>
        <span>Επιχειρήσεις</span>
      </a>
    </li>

    <li>
      <a href="/admin/reviews" routerLinkActive="active">
        <i class="fa-solid fa-comments"></i>
        <span>Κριτικές</span>
      </a>
    </li>

    <li>
      <a href="/admin/messages" routerLinkActive="active">
        <i class="fa-solid fa-envelope"></i>
        <span>Μηνύματα</span>
      </a>
    </li>
  </ul>

  <div class="sidebar-footer">
    <a (click)="logout()" class="logout-link" style="cursor: pointer">
      <i class="fa-solid fa-right-from-bracket"></i> Αποσύνδεση
    </a>
  </div>
</div>
