html,
body {
  height: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}